.register-body{
    background-color: #4682B4;
    height: 120vh;
    width: 100vw;
}
.headerreg{
    height: 2em;

}
.reg-card{
    height: 80vh;
    width: 70vh;
    background-color:white;
    /* margin-top: 5em; */
    margin-bottom: 1%;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-left: 50vw;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;


    
}