<!doctype html>
<html lang="en">

<head>
    <title>Search My Tender</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="style/style.css" rel="stylesheet">
</head>

<body>

    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 company-logo">
                    <img src="images/logo.png">

                </div>
                <div class="col-lg-8 menu">
                    <nav class="navbar navbar-expand-lg navbar-light ">

                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mx-auto">

                                <li class="nav-item">
                                    <a class="nav-link" href="#">Home</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="#">About us</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="#">Services</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="#">Why Us</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="#">Pricing</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Contact</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link login-btn" href="#" data-bs-toggle="modal"
                                        data-bs-target="#myModal">Login</a>
                                </li>

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>


    <div class="section white-background">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 slider-info">
                    <div class="heading-2">Hyperloop of Tender Search</div>
                    <p class="mt-4 mb-3">Your one-stop solution for a seamless, optimized and automated tender searching
                        experience</p>
                    <a class="btn btn-primary mt-5" href="#" role="button">Search</a>
                </div>
                <div class="col-lg-6 slider-image">
                    <img src="images/slider-image.png">
                </div>
            </div>
        </div>
    </div>


    <div class="section grey-background">
        <div class="container">
            <div class="row">
                <div class="heading-2 text-center mb-5">
                    Tender Region
                </div>
                <div class="col-lg-6 location-map">
                    <div class="text-center"><img src="images/map1.png"></div>
                    <div class="text-center"><a class="btn btn-primary mt-5" href="#" role="button">India</a></div>
                </div>
                <div class="col-lg-6 location-map">
                    <div class="text-center"><img src="images/map2.png"></div>
                    <div class="text-center"><a class="btn btn-secondary mt-5" href="#" role="button">Global</a></div>
                </div>
            </div>
        </div>
    </div>


    <div class="section">
        <div class="container">
            <div class="row">
                <div class="heading-2 text-center mb-5">
                    Benefits Of <span class="primary-color">SearchMyTenders</span>
                </div>
                <div class="col benefits-info">
                    <div class="text-center"><img src="images/benefit-icon1.png"></div>
                    <div class="text-center"><b>Time Saver</b></div>
                </div>
                <div class="col benefits-info">
                    <div class="text-center"><img src="images/benefit-icon2.png"></div>
                    <div class="text-center"><b>Growth</b></div>
                </div>
                <div class="col benefits-info">
                    <div class="text-center"><img src="images/benefit-icon3.png"></div>
                    <div class="text-center"><b>Support</b></div>
                </div>
                <div class="col benefits-info">
                    <div class="text-center"><img src="images/benefit-icon4.png"></div>
                    <div class="text-center"><b>Setting</b></div>
                </div>
            </div>
        </div>
    </div>


    <div class="section grey-background">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 services-img">
                    <img src="images/service-image.png">
                </div>
                <div class="col-lg-6 our-services">
                    <div class="heading-2 text-left mb-5">
                        Our Services
                    </div>
                    <p>
                        We provide an end-to-end holistic solution, from an optimized tender searching experience to
                        managed consulting services
                    </p>
                    <div class="text-left"><a class="btn btn-secondary mt-5" href="#" role="button">Read More</a></div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="heading-2 text-center mb-5">
                    Testimonials
                </div>
                <div class="col-lg-6 px-4">
                    <div class="col-lg-12 testimonials-info">
                        <div class="text-center"><img src="images/client-img.jpg"></div>
                        <p> We provide an end-to-end holistic solution, from an optimized tender searching experience to
                            managed consulting services
                        </p>
                        <div class="name"><b>-Marian</b></div>
                    </div>
                </div>

                <div class="col-lg-6  px-4">
                    <div class="col-lg-12 testimonials-info">
                        <div class="text-center"><img src="images/client-img.jpg"></div>
                        <p> We provide an end-to-end holistic solution, from an optimized tender searching experience to
                            managed consulting services
                        </p>
                        <div class="name"><b>-Marian</b></div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class=" main-footer">
        <div class="container">
            <div class="row">
                <div class="col inner-footer">
                    <img src="images/footer-logo.jpg">
                </div>
                <div class="col inner-footer">
                    <div class="white-heading-1"><span class="under-line">N</span>oida</div>
                    <ul>
                        <li><a href="#">INDIA Address : lorem ipsum lorem ipsum lorem ipsum (India) <br>
                                Phone : +91-000-0000000 <br>
                                Email : info@aerotelcom.com</a></li>
                    </ul>
                </div>


                <div class="col inner-footer">
                    <div class="white-heading-1"><span class="under-line">l</span>orem ipsum</div>
                    <ul>
                        <li><a href="#">lorem ipsum lorem ipsum</a></li>
                        <li><a href="#">lorem ipsum lorem ipsum</a></li>
                        <li><a href="#">lorem ipsum lorem ipsum</a></li>
                        <li><a href="#">lorem ipsum lorem ipsum</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content login-container">
    
                    <!-- Modal Header -->
                    <div class="modal-header pb-0">
                        <h4 class="modal-title">Login to your account</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
    
                    <!-- Modal body -->
                    <div class="modal-body">
    
                        <div class="col-lg-12">
                            <ul>
                                <li class="active"><a>Login ID & Password</a></li>
                                <li><a>Login ID & Password</a></li>
                            </ul>
    
                            <div class="form-group mb-4">
    
                                <input type="email" class="form-control mb-3  mt-3" id="exampleInputEmail1"
                                    placeholder="Login ID">
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Password">
                                <div class="text-right mt-2"><a class="a-link ">Forget Password</a></div>
                                <div class="text-left"><a class="btn btn-secondary float-left mt-5 " href="#"
                                        role="button">Login</a></div>
                            </div>
    
                            <hr>
    
                            <div>
    
                                <div class="heading-4">Create an account</div>
    
                                <div class="text-center"><a class="btn btn-secondary-gray w-100 mt-3 mb-2" href="#"
                                        role="button">Register as Bisiness</a></div>
                                <div><a class="btn btn-primary w-100" href="#" role="button">Register as User</a></div>
                            </div>
    
                        </div>
    
                    </div>
    
    
                </div>
            </div>
        </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>