
.Navb{
    width: 100wh;
    height: 10vh;
    /* border: 1px solid black; */

}
.upper-con{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 100vw;
    /* border: 1px solid violet; */
}
.container-nav{
    margin-bottom: 1vh;
}
.main {
    display: flex;
    height: 30vh;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    

}

h1{
    margin: 10px;
    font-size: 40px;
    color: rgb(1, 1, 59);
}

.search{
    width: 30%;
}

ul li {
    font-size: 20px;
}
.sort-con{
   
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.info-box{
    width: 100vw;
    height: 90vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
}
.info-con{
    width: 95%;
    height: 90%;
    border: 1px solid black;
}
/* .head-singlebox{
    display: flex;
    flex-direction: row;
    
} */
table{
    width: 100%;
}
.sort-container{
    width: 100vw;
    height: 3vh;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    margin-bottom:1vh ;
    
    

}